.card {
    margin-top: 30px;
    background: #ccc;
}

.primary {
    background-color: #99f;
    color: #336;
}

.secondary {
    background-color: #9f9;
    color: #363;
}

.card-header {
    cursor: pointer;
    padding: 10px 20px;
    margin: 0;
    user-select: none;
}

.card-body {
    display: none;
    padding: 10px 20px;
}

.expanded {

    .card-header {
        border-bottom: 2px solid;
    }

    .card-body {
        display: block;
    }
}
